# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# gtest gmock
gtest
gmock

# Testing
Testing

# CMake files
*.cmake
CMakeCache.txt
CMakeFiles
CTestTestfile
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt

# Intellij
.idea/
**/.idea/
**/workspace.xml
.idea/workspace.xml

# Python
**/__pycache__/
*.pyc

# Web
**/bower_components/
**/node_modules/

# Pygradle
*.egg
*.egg-info/
*.pyc
*.pyo
*.sublime-*
.coverage
.env
.gradle/
.idea/
.tox*
.venv*
/*/*pinned.txt
/*/MANIFEST
/*/activate
/*/build/
/*/coverage.xml
/*/dist/
/*/htmlcov/
/build/
/config/
/dist/
/gradle
/ligradle/
TEST-*.xml
