<div class="container">

    <div class="row">

        <div class="col-xs-12">
            <h3 class="page-header">About
                <small>It's Nice to Meet You!</small>
            </h3>
        </div>

    </div>

    <div class="row">
        <div class="col-md-6">
            <img class="img-responsive img-thumbnail" src="/pictures/DSC_0104.png">
        </div>
        <div class="col-md-6">
            <h2>Welcome to 'Samantha'</h2>
            <p>This application was created by Wojtek Jozwiak</p>
        </div>

    </div>
</div>
<!-- /.container -->
