 <div class="container">
    <div class="row">
        <div class="col-xs-4">
            <h1 class="page-header">Settings</h1>
        </div>
    </div>
    <form name="settingsForm">
        <div class="row">
            <div class="col-xs-3"></div>
            <div class="col-xs-1">
                Forward speed
            </div>
            <div class="col-xs-5 input-required form-group"
                 ng-class="{'has-error' : settingsForm.forwardSpeed.$invalid && !settingsForm.forwardSpeed.$pristine }">
                <input class="form-control n-inputfield"
                       name="forwardSpeed"
                       type="number"
                       min="-250"
                       max="250"
                       ng-minlength="1"
                       ng-model="$ctrl.controllerData.forwardSpeed"
                       required>

            </div>
        </div>
        <div class="row">
            <div class="col-xs-3"></div>
            <div class="col-xs-1">
                Back speed
            </div>
            <div class="col-xs-5 input-required form-group"
                 ng-class="{'has-error' : settingsForm.backSpeed.$invalid && !settingsForm.backSpeed.$pristine }">
                <input class="form-control n-inputfield"
                       name="backSpeed"
                       type="number"
                       min="-250"
                       max="250"
                       ng-minlength="1"
                       ng-model="$ctrl.controllerData.backSpeed"
                       required>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3"></div>
            <div class="col-xs-1">
                Left offset
            </div>
            <div class="col-xs-5 input-required form-group"
                 ng-class="{'has-error' : settingsForm.leftOffset.$invalid && !settingsForm.leftOffset.$pristine }">
                <input class="form-control n-inputfield"
                       name="leftOffset"
                       type="number"
                       min="-250"
                       max="250"
                       ng-minlength="1"
                       ng-model="$ctrl.controllerData.leftOffset"
                       required>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3"></div>
            <div class="col-xs-1">
                Right offset
            </div>
            <div class="col-xs-5 input-required form-group"
                 ng-class="{'has-error' : settingsForm.rightOffset.$invalid && !settingsForm.rightOffset.$pristine }">
                <input class="form-control n-inputfield"
                       name="rightOffset"
                       type="number"
                       min="-250"
                       max="250"
                       ng-minlength="1"
                       ng-model="$ctrl.controllerData.rightOffset"
                       required>
            </div>
        </div>
        <br>
    </form>
    <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb">
                 <button class="btn btn-default"
                        ng-disabled="settingsForm.forwardSpeed.$invalid ||
                                        settingsForm.backSpeed.$invalid ||
                                        settingsForm.leftOffset.$invalid ||
                                        settingsForm.rightOffset.$invalid"
                        onclick="this.blur();" ng-click="$ctrl.saveInitialData()">Save
                </button>
            </ol>
        </div>
    </div>
  </div>