<div class="section">
  <div class="container-fluid">
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-6">
            <img class="img-responsive img-thumbnail" src="/pictures/750x450.png">
        </div>

        <div class="col-xs-5">
            <div class="row">
                <div class="text-center">
                    <h3>Distance</h3>
                    <h3 class="text-danger" ng-show="$ctrl.danger">{{$ctrl.distance}}</h3>
                    <h3 ng-show="!$ctrl.danger">{{$ctrl.distance}}</h3>
                </div>
            </div>
            <div class="text-center" ng-bind="$ctrl.status"></div>
            <br>
            <div class="text-right">Left offset: <input type="number" ng-model="$ctrl.leftSpeedOffset"></div>
            <div class="text-right">Right offset: <input type="number" ng-model="$ctrl.rightSpeedOffset"></div>
            <div class="text-right">Base speed: <input type="number" ng-model="$ctrl.baseSpeed"></div>
            <br>
            <div class="row">
                <button class="btn btn-default center-block" onclick="this.blur();" ng-click="$ctrl.blinkLed()"
                        ng-bind="$ctrl.ledStatus">
                </button>
            </div>
            <br><br><br>
            <div class="row">
                <div class="text-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-primary" onclick="this.blur();"
                                ng-mousedown="$ctrl.buttonUpDown()" ng-mouseup="$ctrl.buttonUp()">
                           <span class="glyphicon glyphicon-arrow-up"></span>
                      </button>
                    </div>
                </div>
                <div class="text-center">
                <div class="btn-group">
                      <button type="button" class="btn btn-primary" onclick="this.blur();"
                                ng-mousedown="$ctrl.buttonLeftDown()" ng-mouseup="$ctrl.buttonUp()">
                           <span class="glyphicon glyphicon-arrow-left"></span>
                      </button>
                      <button type="button" class="btn btn-primary" onclick="this.blur();"
                                ng-mousedown="$ctrl.buttonDownDown()" ng-mouseup="$ctrl.buttonUp()">
                           <span class="glyphicon glyphicon-arrow-down"></span>
                      </button>
                      <button type="button" class="btn btn-primary" onclick="this.blur();"
                                ng-mousedown="$ctrl.buttonRightDown()" ng-mouseup="$ctrl.buttonUp()">
                           <span class="glyphicon glyphicon-arrow-right"></span>
                      </button>
                </div>
                </div>
            </div>


        </div>
    </div>
  </div>
</div>