<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3 class="page-header">
                <span ng-if="!$ctrl.isMobile()">Click </span>
                <span ng-if="$ctrl.isMobile()">Tap </span>

                <small>to drive</small></h3>
        </div>
    </div>

    <div class="zone">
        <div id="left"></div>
        <div id="center">
            <img class="img-responsive img-thumbnail"
                 src="{{$ctrl.getCameraHostname()}}/?action=stream"
                 width="450" height="450">
        </div>
        <div id="right"></div>
    </div>
</div>
